In [44]:
from sqlalchemy import create_engine
import pandas as pd
#sqlalchemy connection object
print("Connecting to patent db...")
engine = create_engine('mysql+pymysql://ipmaster:oroonoko64@ipinformatics.ccmbmjzurfjl.us-west-1.rds.amazonaws.com:3306/ipinformatics')
connection = engine.connect()
print("Complete.")

Connecting to patent db...
Complete.

In [45]:
#read in patent ids
with open("patent_ids_705_small.csv", "r") as f:
    print("Reading in patent IDs...")
    idlist = f.read().splitlines()
    print("Complete.")

Reading in patent IDs...
Complete.

In [46]:
#chunker
chunks = []
subchunk = []

maxchunks = int(len(idlist)/5000)
maxchunks_real = maxchunks + 1
print("Total chunks to do: " + str(maxchunks_real))

remainder = len(idlist) - (maxchunks*5000)
print("Size of remainder: " + str(remainder))

count = 0

for id in idlist:
    subchunk.append(id)
    if count <= maxchunks:
        if len(subchunk) == 5000:
            yy = ','.join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []
    elif count > maxchunks:
        if len(subchunk) == remainder:
            yy = ','.join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []

Total chunks to do: 1
Size of remainder: 22

In [51]:
#Lookup Query No. 1

lookup = "SELECT s_no as application_id, filing_date, patent_no, date as grant_date, organization as company FROM iplogic.pair_application INNER JOIN ipinformatics.patentsview_patent ON iplogic.pair_application.patent_no = ipinformatics.patentsview_patent.id INNER JOIN ipinformatics.patentsview_raw_assignee ON iplogic.pair_application.patent_no = ipinformatics.patentsview_raw_assignee.patent_id WHERE iplogic.pair_application.patent_no IN ("

count = 0
#df = pd.DataFrame(index =['application_id'], columns = ['application_id', 'filing_date', 'patent_no', 'grant_date', 'company'])

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = lookup + str(c) + ")"
    lookup_frame = pd.read_sql_query(query, connection)
    df1 = lookup_frame
    df = df1.merge(lookup_frame, on='application_id', how='left')
    
print(df.head())

  application_id filing_date_x patent_no_x grant_date_x  \
0       08681712    1996-07-29     5819234   1998-10-06
1       08879736    1997-06-20     6012040   2000-01-04
2       08960665    1997-10-30     5987427   1999-11-16
3       08892306    1997-07-14     5907617   1999-05-25
4       09775787    2001-02-03     6684119   2004-01-27

                                           company_x filing_date_y  \
0  The Chase Manhattan Bank                      ...    1996-07-29
1                                    NCR Corporation    1997-06-20
2                                    NCR Corporation    1997-10-30
3                                Digital River, Inc.    1997-07-14
4                                 Ford Motor Company    2001-02-03

  patent_no_y grant_date_y                                          company_y
0     5819234   1998-10-06  The Chase Manhattan Bank                      ...
1     6012040   2000-01-04                                    NCR Corporation
2     5987427   1999-11-16                                    NCR Corporation
3     5907617   1999-05-25                                Digital River, Inc.
4     6684119   2004-01-27                                 Ford Motor Company

In [52]:
df.drop(['filing_date_y','patent_no_y','grant_date_y','company_y'], axis=1)
print(df.head())

  application_id filing_date_x patent_no_x grant_date_x  \
0       08681712    1996-07-29     5819234   1998-10-06
1       08879736    1997-06-20     6012040   2000-01-04
2       08960665    1997-10-30     5987427   1999-11-16
3       08892306    1997-07-14     5907617   1999-05-25
4       09775787    2001-02-03     6684119   2004-01-27

                                           company_x filing_date_y  \
0  The Chase Manhattan Bank                      ...    1996-07-29
1                                    NCR Corporation    1997-06-20
2                                    NCR Corporation    1997-10-30
3                                Digital River, Inc.    1997-07-14
4                                 Ford Motor Company    2001-02-03

  patent_no_y grant_date_y                                          company_y
0     5819234   1998-10-06  The Chase Manhattan Bank                      ...
1     6012040   2000-01-04                                    NCR Corporation
2     5987427   1999-11-16                                    NCR Corporation
3     5907617   1999-05-25                                Digital River, Inc.
4     6684119   2004-01-27                                 Ford Motor Company

In [50]:
lookup_frame.to_json("lookup.json", orient='records', lines=True)

In [4]:
#Metadata Query No. 1
metadata1 = "SELECT patent_id, number AS application_number, date AS grant_date FROM ipinformatics.patentsview_application WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = metadata1 + str(c) + ")"
    md1 = pd.read_sql_query(query, connection)
    md1.set_index('patent_id')

print(md1.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D345393'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D341413'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D319145'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D297876'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0005487'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D297744'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0005460'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D362850'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D298137'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D344016'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D301202'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP4542'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D298410'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D310355'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D354155'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D350708'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D343629'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0010391'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D311833'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D307742'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D298066'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D325210'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D356054'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D333772'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D324673'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D323883'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP6341'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D305628'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D348634'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP6321'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D299182'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D264087'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D312594'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0015199'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D244359'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0004430'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29149'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D245185'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0015679'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28965'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0003468'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28712'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29914'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28685'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29086'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D254870'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D281552'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D257180'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE30349'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D244494'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29999'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D256374'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28703'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29725'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28784'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28725'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29504'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29602'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29284'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28933'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28956'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28880'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28978'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28775'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id application_number  grant_date
0   4058839           04502532  1974-09-03
1   3991406           04685519  1967-11-24
2   4055746           04874760  1969-11-07
3   4055801           05064703  1970-08-18
4   3990710           05119535  1971-03-01

In [5]:
#Metadata Query No. 2
metadata2 = "SELECT patent_id, assignee_id FROM ipinformatics.patentsview_patent_assignee WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = metadata2 + str(c) + ")"
    md2 = pd.read_sql_query(query, connection)
    md2.set_index('patent_id')
    
md2['assignee_id'] = md2.assignee_id.str.replace(r'\r', '')
print(md2.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242583'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242584'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242585'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242586'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242588'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242592'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242594'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242597'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242598'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242599'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242601'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242606'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242607'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242610'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242612'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242614'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242615'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242617'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242618'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242619'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242620'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242621'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242622'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242623'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242624'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242625'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242626'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242627'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242628'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242629'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242630'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242631'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242632'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242633'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242634'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242635'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242636'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242637'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242638'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242642'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242645'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242646'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242648'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242649'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242651'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242653'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242656'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242657'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242658'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242659'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242660'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242661'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242667'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242668'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242669'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242671'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242673'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242675'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242678'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242679'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242682'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id                       assignee_id
0   3955180  210a668b9c6902622fb733a379e9a845
1   3956615  5866104203780349658d8543ac0f0fd4
2   3956734  ab793877c3cb16d7e3927a856568d333
3   3957389  ae599631c46d39900613a0a890a8289f
4   3958081  9771095cf0c022bf34abcea8cf780232

In [7]:
#Metadata Query No. 3
metadata3 = "SELECT patent_no AS patent_id, primary_examiner_name AS examiner_id, group_art_unit_no AS group_art_unit FROM iplogic.pair_application WHERE patent_no IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = metadata3 + str(c) + ")"
    md3 = pd.read_sql_query(query, connection)
    md3.set_index('patent_id')

print(md3.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D028834'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D212873'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D207695'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D212416'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D209924'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D210865'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D210372'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D210373'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D211303'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D213981'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27093'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D215723'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218744'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217068'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217285'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217966'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D216577'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217968'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218831'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218209'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218210'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219173'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D224059'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217928'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217965'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219175'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219189'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219361'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219778'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221313'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221314'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219118'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221266'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219835'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D222928'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27643'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D192653'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D192750'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D197455'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D200042'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D198304'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D200089'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D211846'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D208580'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D207986'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D205116'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H001519'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP02747'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE26887'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE26471'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28390'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27035'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27321'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE26963'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27412'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D228571'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219463'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220131'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220313'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220553'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D223183'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220660'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221226'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220402'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id   examiner_id group_art_unit
0   4025903             -           None
1   4319225  DEFINED  NOT           2306
2   3989899             -           2601
3   4319358             -           2202
4   4188618             -           2604

In [8]:
#Tech Class 1 - Query No. 4
techclass1 = "SELECT patent_id, mainclass_id AS uspc, sequence FROM ipinformatics.patentsview_uspc WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = techclass1 + str(c) + ")"
    tc1 = pd.read_sql_query(query, connection)
    tc1.set_index('patent_id')

print(tc1.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP16030'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D512290'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D591464'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D519803'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D748714'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D502919'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D545404'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D600460'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D639755'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D651693'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D744479'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D539546'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D748578'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D511130'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D720980'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D515618'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D717493'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D581232'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE44760'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D503018'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D751226'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D730535'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D734898'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D519005'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D325183'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714594'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE41885'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D507954'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D675060'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D535883'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D620851'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D270618'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D561364'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D641633'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D616148'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714651'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D578106'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D620787'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D584625'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D525016'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D514374'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE45177'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D529481'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP26417'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D743752'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714587'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE45307'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D651080'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D522609'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D695944'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D742129'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D609135'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D683795'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D615755'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE40984'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D605346'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D576581'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D667410'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE42015'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D567706'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D708814'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D245563'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D718369'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D539557'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4

KeyboardInterrupt:

In [ ]:
#Tech Class 2 - Query No. 5

techclass2 = "SELECT patent_id, group_id AS cpc, sequence FROM ipinformatics.patentsview_cpc_current WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = techclass2 + str(c) + ")"
    tc2 = pd.read_sql_query(query, connection)
    tc2.set_index('patent_id')

print(tc2.head())

In [ ]:
#Citations 1 - Query No. 6
cites1 = "SELECT patent_id, citation_id, date, category, sequence FROM ipinformatics.patentsview_us_patent_citation WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = cites1 + str(c) + ")"
    ct1 = pd.read_sql_query(query, connection)
    ct1.set_index('patent_id')

print(ct1.head())

In [46]:
#Claims 1 - Query No. 7

#chunker
chunks = []
subchunk = []

maxchunks = int(len(idlist)/5000)
maxchunks_real = maxchunks + 1
print("Total chunks to do: " + str(maxchunks_real))

remainder = len(idlist) - (maxchunks*5000)
print("Size of remainder: " + str(remainder))

count = 0
count2 = 0

for id in idlist:
    subchunk.append(id)
    if count <= maxchunks:
        if len(subchunk) == 5000:
            yy = "','".join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []
    elif count > maxchunks:
        if len(subchunk) == remainder:
            yy = "','".join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []
claims1 = "SELECT patent_id, text, sequence, dependent FROM ipinformatics.patentsview_claim WHERE patent_id IN('"

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = claims1 + str(c) + "')"
    clm1 = pd.read_sql_query(query, connection)
    clm1.set_index('patent_id')

print(clm1.head())

Total chunks to do: 5
Size of remainder: 2117
Chunk No. 1
Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id                                               text  sequence  \
0   3955073  21. The device of claim 17 further including:m...        21
1   3955073  5. The device of claim 4 wherein said decimal ...         5
2   3955073  12. The device of claim 1 wherein said sensing...        12
3   3955073  22. A device for conveniently determining and ...        22
4   3955073  3. The device of claim 2 wherein said mechanic...         3

   dependent
0          0
1          0
2          0
3          0
4          0

In [1]:
#Ultimate Merge
merge1 = md1.merge(md2, on='patent_id', how='left')
merge2 = merge1.merge(md3, on='patent_id', how='left')
merge3 = merge2.merge(tc1, on='patent_id', how='left')
finalmerge = merge3.merge(ct1, on='patent_id', how='left')

print(finalmerge.head())
print("Number of records for this query -->")
print(finalmerge.size)

NameError: name 'md1' is not defined

In [69]:
#Switching to new dataframe DF....
df = finalmerge
print(df.head())

  patent_id application_number  grant_date                       assignee_id  \
0   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
1   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
2   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
3   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba

  examiner_id group_art_unit uspc  sequence_x citation_id        date  \
0         NaN            NaN  235         2.0     3308010  1967-03-01
1         NaN            NaN  235         2.0     3308010  1967-03-01
2         NaN            NaN  235         2.0     3308010  1967-03-01
3         NaN            NaN  235         2.0     3308010  1967-03-01
4         NaN            NaN  235         2.0     3308010  1967-03-01

  category  sequence_y                                               text  \
0                  1.0  1. A flexible resilient magnetic particle type...
1                  1.0  12. An information card in accordance with cla...
2                  1.0  18. An information card in accordance with cla...
3                  1.0  21. An information card in accordance with cla...
4                  1.0  20. An information card in accordance with cla...

   sequence  dependent
0         1          0
1        12          0
2        18          0
3        21          0
4        20          0

In [88]:
print(df.head())

  patent_id application_number  grant_date                       assignee_id  \
0   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
1   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
2   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
3   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba

  examiner_id group_art_unit uspc  sequence_x citation_id        date  \
0         NaN            NaN  235         2.0     3308010  1967-03-01
1         NaN            NaN  235         2.0     3308010  1967-03-01
2         NaN            NaN  235         2.0     3308010  1967-03-01
3         NaN            NaN  235         2.0     3308010  1967-03-01
4         NaN            NaN  235         2.0     3308010  1967-03-01

  category  sequence_y                                               text  \
0                  1.0  1. A flexible resilient magnetic particle type...
1                  1.0  12. An information card in accordance with cla...
2                  1.0  18. An information card in accordance with cla...
3                  1.0  21. An information card in accordance with cla...
4                  1.0  20. An information card in accordance with cla...

   sequence  dependent
0         1          0
1        12          0
2        18          0
3        21          0
4        20          0

In [1]:
df.to_json("ultrarip.json", orient='records', lines=True)

NameError: name 'df' is not defined